{% extends 'base.html' %}
{% load static %}

{% block content %}

    <h1>Subscriptions</h1>


    <form id="statusFilterForm">
        Status: <input type="text" id="status" name="status">
        <button type="button" onclick="filterSubscriptions()">Filter</button>
    </form>
    <table id="boxesTable">
        <thead>
            <tr>
                <th>Unique Code</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>ID Box</th>

                
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <a href="{% url 'subscription_management:box_list' %}">Back to Subscription Box List</a>
    <script src="{% static 'filter_subscriptions_subs.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            filterSubscriptions();
        });
    </script>
{% endblock content %}